@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: white;
  background-color: #1C1C1C;
}

img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: #1A1B21;
  width: 317px;
  height: 780px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info > h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30.26px;
  margin-bottom: -12px;
}

.info > p {
  font-size: 12.8px;
  font-weight: 400;
  line-height: 15.49px;
  color: #F3BF99;
}

.info > a {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  color: #F5F5F5;
  text-decoration: underline rgb(255, 15, 255) 2px;
  margin-top: -15px;
}

.info__btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 30px;
}

.info__btn-email {
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: #374151;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.info__btn-linkedin {
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  border: 1px solid #5093E2;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.content {
  text-align: left;
  margin-left: 30px;
  width: 247px;
}

.title_tags {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  margin-top: 15px;
  margin-bottom: -7px;
  text-align: left;
}

.text_tags {
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
}

.footer {
width: 317px;
height: 64px;
background: #161619;
border-radius: 0px 0px 10px 10px;
}

.footer > ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  align-content: center;
}

.__footer-icons {
  margin-top: 12px;
}
